**/out/
**/db
**/build/
**/caches/
**/libraries/
**/gradle/
**/.gradle/
**/.vs
**/.svn
**/workspace.xml
**/vcs.xml
**/misc.xml
**/gradlew*
**/codeStyles
**/.idea/
**/.idea/workspace.xml
AuditDemo/.idea/workspace.xml
